
<form action="/lists/<%= @list.id %>/add" method="POST">
  <p><h4><label>Add a suggested item to your list:</label></h4></p>

    <div class="row">
    <div class="col-sm-4">
  <p><input id="new_item" type="radio" name="suggest-name" value="Toiletries"> Toiletries</p>
  <p><input id="new_item" type="radio" name="suggest-name" value="Underwear"> Underwear</p>
  <p><input id="new_item" type="radio" name="suggest-name" value="Socks"> Socks</p>
    </div>
  <div class="col-sm-4">
  <p><input id="new_item" type="radio" name="suggest-name" value="Sneakers"> Sneakers</p>
  <p><input id="new_item" type="radio" name="suggest-name" value="Pajamas"> Pajamas</p>
  <p><input id="new_item" type="radio" name="suggest-name" value="Phone Charger"> Phone Charger</p>
    </div>
    </div>

  <p><h4><label>Or enter a new item:</label></h4></p>
  <p>Item Name:<input type="text" name="name" id="new_item"></p>
  <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
  <input type="hidden" name="list_id" value="<%=@list.id%>">
  <br></br>
   <input type="submit" id='submit' value="Add to List">
</form>
