
<h1>Edit Your List</h1>

<form action='/lists/<%= @list.id %>' method='post'>
  <input id='hidden' type='hidden' name='_method' value='patch'>

  Name: <input type='text' id='list[name]' name='edit-list-name' value='<%= @list.name %>'>
  <br></br>


  <input type='submit' id='submit' value='Edit List'>
</form>
