<h1>Create a New List:</h1>

<form action="/lists/new" method="POST">
  <p><h3><label>Name:</label></h3>
  <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
  <input type="text" name="name" id="list-name" required</p>
  <br></br>
  <p><h5><input id="privacy" type="radio" name="privacy" value="private"> Private</h5></p>
  <p><h5><input id="privacy" type="radio" name="privacy" value="public"> Public</h5></p>
</select>
  <br></br>
   <input type="submit" id='submit' value="Create">
</form>
