<div class="panel panel-default">
  <div class="panel-heading"><h2><%= @user.username %>'s Public Lists:</h2></div>

  <div class="panel-body">

    <p></p>
          </div>

          <table class="table">

      <p><h3><% @public_lists.each do |list| %>
      <h3><%= list.name %></h3>
        <ol>
        <% list.items.each do |item| %>

        <h5><li><%=  item.name %>
            <% end %></li>
            <% end %></h5> </ol></p>

            <br>
          </table>
        </div>

        <p>


        <a href="mailto:?subject= Check out my Pack Rat Packing List&amp;body=Check out my packing list http://127.0.0.1:9393/users/<%= current_user.slug %>/public"
           title="Email">Email this to a friend
        </a>
