<div class="row">
  <div class="col-sm-9">
    <img src="images/coffee-smartphone-desk-pen.jpg">

  </div>
  <div class="col-sm-3">
    <h1 class="text-right">PACK RAT</h1>

    <br></br>
<h3 class="text-right">Sign-Up</h3>
<form action="/signup" method="POST">
<p class="text-right"> Username:     <input type="text" id="username" name="username" placeholder="Username" required=></p>
<p class="text-right">Email:        <input type="text" id="email" name="email" placeholder="Email" required></p>
<p class="text-right">Password:     <input type="password" id="password" name="password" placeholder="Password" required></p>
<p class="text-right"><input type="submit" id="submit" value="Sign Up">
</form>
<p class="text-right">Already have an account? <a href="/login"> Log-In</a></p></h4>

<br></br>
<br></br>

</div>
