<h1>Here are all of <%= current_user.username %>'s items:</h1>



<p><% current_user.items.each do |item| %>
     <a href="/items/<%= item.id %>"><%= item.name %> </a><br>
    <% end %> </p>

      <br>
