<div class="jumbotron">
  <h1>WELCOME TO PACK RAT</h1>
  <p>An easy to use packing list creator.</p>
  <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign-Up</a></p>
</div>

<img src="/images/pexels-photo-30855.jpg">
